.banner {
  display: flex;
  height: 223px;
  margin-bottom: 40px;
  background: #000000 url(../assets/landscape.jpg);
  mix-blend-mode: darken;
  /* opacity: 0.3; */
  border-radius: 25px;
}

.slogan {
  margin: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 68px;
  color: #ffffff;
}
